<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Food App</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <h1><%= category.name %> Items</h1>
      <div class="content roboto black table-div">
        <table id="table">
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
          <% category.items %>
          <% category.items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <a href="/categories" class="router">Back</a>
    </div>
    <div class="col"></div>
  </div>
</body>