<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Food App</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <h1>New Category</h1>
      <form method="POST" action="/categories/create">
        <div class="content roboto black">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <br>
          <input type="submit" value="Create Category">
        </div>
      </form>
      <a href="/categories" class="router">Back</a>
    </div>
    <div class="col"></div>
  </div>
</body>
</html>